.add-task-page {
    padding: 5px;
  }
  
  .add-task-form {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    margin: 0 auto;
    background: #f3f3f3;
    border-radius: 12px;
    padding: 24px 24px 24px 24px;
    box-shadow: 0 2px 10px #111;
  }
  
  .add-task-form label {
    margin-bottom: 18px;
    font-weight: bold;
    width: 100%;
  }
  
  .add-task-form input,
  .add-task-form textarea,
  .add-task-form select {
    margin-top: 4px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 6px;
    border: 1.5px solid #bbb;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
  }
  
  .add-task-form button {
    padding: 10px 18px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
  }
  
  .add-task-form button:hover {
    background: #0056b3;
  }
  
  .add-task-form-label {
    margin-bottom: 18px;
    font-weight: bold;
    width: 100%;
    margin-right: 10px;
  }

  .task-list-heading {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 2rem;
  }
